extends ../base

block content 
    form(method="post") 
        input(type="password", name="oldPassword",placeholder="Old Password")
        input(type="password", name="newPassword1",placeholder="New Password")
        input(type="password", name="newPassword2",placeholder="New Password Comfirm")
        input(type="submit", value="Change Password")