extends ../base
include ../mixins/videoBlock

block content
    div.profile__data
        img(src="/"+user.avatarUrl).avatar
        h3=user.name
    div.video-grid
        each video in user.videos 
            +videoBlock(video)
            +videoBlock(video)
            +videoBlock(video)
            +videoBlock(video)
            +videoBlock(video)
            +videoBlock(video)
            +videoBlock(video)
        else
            span.empty__message No videos found